body{
    background: #1C1C1C;
}

header {
    background: #100F0F;
}

header .logo {
    display: inline-block;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

header .logo img{
    width: 60px;
    align-items: center;
}
header .menu{
    display: inline-block;
    float: left;
    position: relative;
    top: 20px;
}

header .menu a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    padding: 15px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 12px;
}

header .menu a:hover{
    color: red;
}
